doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block pageStyles
            link(rel="stylesheet", href="css/homepage.css")
        block pageTitle
            title Default Page
    body
        h2.ml-5 Hello !!!!
        block content
        
        block pageScripts
            script(src="js/homepage.js")