extends ../../layouts/defaultLayout.pug

block pageStyles
    link(rel="stylesheet", href="homepage.css")

block pageTitle
    title Home Page

block content
    .container 
        h2 Some stuff !!

        include ../../components/accordion/accordion.pug

block pageScripts
    script(src="homepage.js")


